<div class="container">
  <div class="row">
    <h1>CAFF Files</h1>
    <button mat-button class="add-button" (click)="openDialog()">Add new CAFF File</button>
  </div>

  <div class="row">
    <mat-card *ngFor="let animation of animations$ | async">
      <img class="cover" [src]="API_BASE_URL + animation.animation" alt="icon" />
      <mat-card-title class="title">
        {{ animation.title }}
        <!-- Admin flehanszáló esetén -->
        <input *ngIf="(user | async).role === 'admin'" matInput placeholder="New title" class="title-input" [(ngModel)]="modifiedTittle" />
        <button *ngIf="(user | async).role === 'admin'" mat-button class="modify-button" (click)="delete(animation.id, modifiedTittle)">Modify</button>
      </mat-card-title>
      <mat-card-content class="content">
        <!-- Admin felhasnzáló esetén -->
        <mat-card-actions><button mat-button *ngIf="(user | async).role === 'admin'" class="delete-button" (click)="delete(animation.id)">Delete</button></mat-card-actions>

        <!-- Sima felhasználó esetén -->
        <mat-card-actions><button mat-button class="download-button" (click)="detail(animation.id)">Details</button></mat-card-actions> 
        <!-- Sima felhasználó esetén -->
        <mat-card-actions><button mat-button class="download-button">Download</button></mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
